*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --primary: hsl(185, 75%, 39%);
    --secondary: hsl(229, 23%, 23%);
    --tertiary: hsl(227, 10%, 46%);
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--primary);
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-position: -80% -70vh, 160% 50vh;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
}
